@font-face{
    font-family: 'Poppins';
    src:('https://fonts.google.com/specimen/Poppins')
}
html{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

*,*::before,*::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    /* position: relative; */
    margin: 0;
    padding: 50px 0 0 0;
    text-align: center;
    background-image: url(../images/bg-intro-mobile.png);
    background-color: hsl(0, 100%, 74%);
    color:white;
    font-size: 16px;
    font-weight: 400;
   font-family: 'Poppins',sans-serif;
}
h1{
    padding:0 10% ;
    font-weight:700;
}

p{
    padding:0 5%;
    font-size:1.2em
    
}

#trial-con{
    background-color: hsl(248, 32%, 49%);
    margin:30px 10%;
    width: 80%;
    height: 120px;
    padding:15px 25px;
    border-radius: 10px;
}
#trial-text{
    line-height: 1.6;
}
#form-con{
    background-color: white;
    margin: 0 10%;
    padding: 20px 0;
    border-radius: 10px;
}
input{
    width:90%;
    height:60px;
    margin:10px 0;
    padding:0 5%;
    border-radius: 10px;
    border: 1px solid hsl(246, 25%, 77%);
}

button{
    width:90%;
    background-color: hsl(154, 59%, 51%);
    color:white;
    height:60px;
    border-radius: 10px;
    font-size: 1em;
    text-transform: uppercase;
    /* padding: 0 10%; */
    /* margin-left:10px; */
    border: 1px solid hsl(246, 25%, 77%);
}

#terms{
    color:hsl(246, 25%, 77%);
    font-size: 0.7em;
    margin:10%;
    padding:10px;
    line-height: 1.6;
}
span{
    color:hsl(0, 100%, 74%)
} 
.errorP{
    color:hsl(0, 100%, 74%);
    margin:0;
    text-align:right;
    font-size:0.7em;
    display: none;
}



@media screen and (min-width:1440px){
   body{
       margin:80px 150px; 
       
   }
    #main-con{ 
       display:grid;
    grid-template:1fr 1fr/1fr 1fr;
    grid-template-areas: "HeadingText TrialText"
                "BodyText Form";
                    
}
    #heading-text{
        grid-area: HeadingText;
        margin-top:200px;
        font-size:3.5em;
        margin-left:-50px;
        text-align:left
    }
    #body-text{
        grid-area:BodyText;
        text-align: left;
        padding-left:20px;
        font-size:1.1em;
        /* margin-bottom:40px */
    }
    #trial-con{
        grid-area:TrialText;
        width: 95%;
        height:70px;
        padding-top:1px
        /* text-align: right; */
        /* margin-bottom: 100px; */
    }
    #form-con{
        grid-area:Form;
        margin-top:-250px;
        height:500px;
        width:95%
        
    }
    #terms{
        margin-top:0
    }
}

